body{
    background-color: black;
    font-family: 'Graduate', serif;
}
#h_logo{
    height: 100px;
    width: 130px;
    float: left;
    margin-right: 100px;
    
}
#header_{
    border-bottom: solid #FFD700 4px;
    font-family: 'Graduate', serif;
    display: inline-block;
    width: 100%;
    position: relative;
    color: white;
}
#Hmenu{
    display: inline;
    padding-right: 3%;
    color: white;
    font-size: 30px;
    
}
.icon{
    margin-right: 2%;
    visibility: hidden;
}
.topnav{
    display: flex;
    align-items: center;      /* függőleges középre igazítás */
    justify-content: space-between;
}
#valassz{
    display: flex;
    margin: auto;
}
#Valasztek{

    color: white;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    padding-top: 25px;
    

}
#ValasztekKapcsolat{
    display: inline;
    color: white;
    font-size: 20px;
    margin-left: 270px;
    float: left;
    padding-top: 25px;
    color: #FFD700;
    
}
#fejleckep{
    width: 1895px;
}
#motto{

    background-image: linear-gradient(to top,#F8892F, #F8C354);
    color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 50px;
}
        /* Madison Beer*/
#MADISON{
    width:430px;
    height:500px;
    border-radius: 10px;
    margin-left: 10%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#MADkep{
    width:430px;
    height: 490px;
}
#MADnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Madelyn Cline*/
#MADELYN{
    width:430px;
    height:500px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#MADELYNkep{
    width:430px;
    height: 490px;
}
#MADELYNnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Margot Robbie*/
#MARGOT{
    width:430px;
    height:500px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#MARGOTkep{
    width:330px;
    height: 490px;
    margin-left: 10%;
}
#MARGOTnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Lebron James*/
#LEBRON{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 10%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#LEBRONkep{
    width:430px;
    height: 490px;
}
#LEBRONnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Cristiano Ronaldo*/
#RONALDO{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#RONALDOkep{
    width:350px;
    height: 490px;
    margin-left: 10%;
}
#RONALDOnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Leonardo Dicaprio*/
#LEONARDO{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#LEONARDOkep{
    width:400px;
    height: 490px;
    margin-left: 5%;
}
#LEONARDOnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
        /* Palvin Barbara*/
#PALVIN{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 10%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#PALVINkep{
    width:430px;
    height: 490px;
}
#PALVINnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
/*Rubint Réka */
#RUBINT{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}

#RUBINTkep{
    margin-top: 20px;
    padding-left: 70px;
}
#RUBINTnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
/*Tóth Gabi */

#TOTH{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#TOTHkep{
    width:430px;
    height: 490px;
}
#TOTHnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}

/*Nagy Alekosz */ 
#ALEKOSZ{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 10%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#ALEKOSZkep{
    width:370px;
    height: 490px;
}
#ALEKOSZnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
/* Majoros Péter*/
#MAJOROS{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#MAJOROSkep{
    width:350px;
    height: 490px;
}
#MAJOROSnev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
/* Szoboszlai Dominik*/
#SZOBOSZLAI{
    width:430px;
    height:500px;
    margin-top: 90px;
    border-radius: 10px;
    margin-left: 5%;
    background-image: linear-gradient(to bottom,#FFD700, #000000);
    display: inline-block;
}
#SZOBOSZLAIkep{
    width:430px;
    height: 490px;
}
#SZOBOSZLAInev{
    color: white;
    text-align: center;
    background-color: #434343;
    margin: 0%;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
}
#foot{
    margin-top: 100px;
    text-align: center;
}
#footernev{
    background-image: linear-gradient(to top,#F8892F, #F8C354);
    color: transparent;
    background-clip: text;
    display: inline-block;
    font-size: 50px;
    margin-right: 40px;

}
#insta{
    color: white;
    display: inline-block;
    font-size: 50px;
    border-right: 1px solid #FFD700 ;
    padding-right: 10px;
}
#twitter{
    color: white;
    display: inline-block;
    font-size: 50px;
    border-right: 1px solid #FFD700 ;
    padding-right: 10px;
}
#facebook{
    color: white;
    display: inline-block;
    font-size: 50px;
}
#jog{
    color: #AEAEAE;
}
@media only screen and (max-width:1850px){
    #ValasztekKapcsolat{
        margin-left: 200px;
    }
    #header_{
        width: 100%;
    }
    #fejleckep{
        width: 100%;
    }
    #valassz{
        display:flex;
    }
}
@media only screen and (max-width: 1653px){
    #MADISON{
        margin-left: 20%;
    }
    #MARGOT{
        margin-left: 20%;
    }
    #LEBRON{
        margin-left: 5%;
    }
    #RONALDO{
        margin-left: 20%;
    }
    #PALVIN{
        margin-left: 20%;
    }
    #TOTH{
        margin-left: 20%;
    }
    #ALEKOSZ{
        margin-left: 5%;
    }
    #MAJOROS{
        margin-left: 20%;
    }
}
@media only screen and (max-width:1430px){
    #valassz{
        display:none;
    }
    .icon{
        visibility: visible;
    }


}
@media only screen and (max-width:1240px){
    #MADISON{
        margin-left: 10%;
    }
    #MARGOT{
        margin-left: 10%;
    }
    #LEBRON{
        margin-left: 5%;
    }
    #RONALDO{
        margin-left: 10%;
    }
    #PALVIN{
        margin-left: 10%;
    }
    #TOTH{
        margin-left: 10%;
    }
    #ALEKOSZ{
        margin-left: 5%;
    }
    #MAJOROS{
        margin-left: 10%;
    }
}
@media only screen and (max-width:1070px){
    #MADISON{
        margin-left: 5%;
    }
    #MARGOT{
        margin-left: 5%;
    }
    #LEBRON{
        margin-left: 5%;
    }
    #RONALDO{
        margin-left: 5%;
    }
    #PALVIN{
        margin-left: 5%;
    }
    #TOTH{
        margin-left: 5%;
    }
    #ALEKOSZ{
        margin-left: 5%;
    }
    #MAJOROS{
        margin-left: 5%;
    }
}
/* eddig tart az md*/

/* telefon*/

@media only screen and (max-width:1000px){
    #MADISON{
        margin-left: 25%;
    }
    #MADELYN{
        margin-left: 25%;
        margin-top: 10%;
    }
    #MARGOT{
        margin-left: 25%;
        margin-top: 10%;
    }
    #LEBRON{
        margin-left: 25%;
        margin-top: 10%;
    }
    #RONALDO{
        margin-left: 25%;
        margin-top: 10%;
    }
    #LEONARDO{
        margin-left: 25%;
        margin-top: 10%;
    }
    #PALVIN{
        margin-left: 25%;
        margin-top: 10%;
    }
    #RUBINT{
        margin-left: 25%;
        margin-top: 10%;
    }
    #TOTH{
        margin-left: 25%;
        margin-top: 10%;
    }
    #ALEKOSZ{
        margin-left: 25%;
        margin-top: 10%;
    }
    #MAJOROS{
        margin-left: 25%;

    }
    #SZOBOSZLAI{
        margin-left: 25%;
        margin-top: 10%;
    }
    

}
@media only screen and (max-width:620px){
    #MADISON{
        margin-left: 5%;
    }
    #MADELYN{
        margin-left: 5%;
        margin-top: 10%;
    }
    #MARGOT{
        margin-left: 5%;
        margin-top: 10%;
    }
    #LEBRON{
        margin-left: 5%;
        margin-top: 10%;
    }
    #RONALDO{
        margin-left: 5%;
        margin-top: 10%;
    }
    #LEONARDO{
        margin-left: 5%;
        margin-top: 10%;
    }
    #PALVIN{
        margin-left: 5%;
        margin-top: 10%;
    }
    #RUBINT{
        margin-left: 5%;
        margin-top: 10%;
    }
    #TOTH{
        margin-left: 5%;
        margin-top: 10%;
    }
    #ALEKOSZ{
        margin-left: 5%;
        margin-top: 10%;
    }
    #MAJOROS{
        margin-left: 5%;

    }
    #SZOBOSZLAI{
        margin-left: 5%;
        margin-top: 10%;
    }
}
@media only screen and (max-width:495px){
    #fejleckep{
        visibility: hidden;
    }
    #MADISON{
        width:270px;
        height: 300px;
        margin-top: 10%;
    }
    #MADkep{
        width: 270px;
        height: 300px;
    }
    #MADnev{
        height: 30px;
        padding-top: 5px;
    }
    #MADELYN{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #MADELYNkep{
        width: 270px;
        height: 300px;
    }
    #MADELYNnev{
        height: 30px;
        padding-top: 5px;
    }
    #MARGOT{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #MARGOTkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #MARGOTnev{
        height: 30px;
        padding-top: 5px;
    }
    #LEBRON{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #LEBRONkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #LEBRONnev{
        height: 30px;
        padding-top: 5px;
    }
    #RONALDO{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #RONALDOkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #RONALDOnev{
        height: 30px;
        padding-top: 5px;
    }
    #LEONARDO{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #LEONARDOkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #LEONARDOnev{
        height: 30px;
        padding-top: 5px;
    }
    #PALVIN{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #PALVINkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #PALVINnev{
        height: 30px;
        padding-top: 5px;
    }
    #RUBINT{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #RUBINTkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
        padding-left: 0;
    }
    #RUBINTnev{
        height: 30px;
        padding-top: 5px;
    }
    #TOTH{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #TOTHkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #TOTHnev{
        height: 30px;
        padding-top: 5px;
    }
    #ALEKOSZ{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #ALEKOSZkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #ALEKOSZnev{
        height: 30px;
        padding-top: 5px;
    }
    #MAJOROS{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #MAJOROSkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #MAJOROSnev{
        height: 30px;
        padding-top: 5px;
    }
    #SZOBOSZLAI{
        margin-top: 10%;
        width:270px;
        height: 300px;
    }
    #SZOBOSZLAIkep{
        width: 270px;
        height: 300px;
        margin-left: 0;
    }
    #SZOBOSZLAInev{
        height: 30px;
        padding-top: 5px;
    }
    #motto{
        display: none;
    }
}