body{
    background-color: black;
    font-family: 'Graduate', serif;
}
#h_logo{
    height: 100px;
    width: 130px;
    float: left;
    margin-right: 100px;
   
}
#header_{
    border-bottom: solid #FFD700 4px;
    font-family: 'Graduate', serif;
    display: inline-block;
    width: 1895px;
    position: relative;
}
#valassz{
    display: inline;
    margin: auto;
}
#Valasztek{
    display: inline;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    padding-top: 25px;
   
 
}
#ValasztekKapcsolat{
    display: inline;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    padding-top: 25px;
    color: #FFD700;
    margin-left: 270px;
}

#slidediv{
  width: 600px;
  display: inline-block;
}

#alekoszdiv{
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}
#alekoszvd{
  width: 550px;
  height: 880px;
}
#madelynvd{
  width: 550px;
  height: 880px;
}
#madelyndiv{
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.textt {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#Adatok{
  color: white;

}
#ikonok{
  color: white;
  font-size: 25px;
  text-align: right;
  margin-top: 30px;
  margin-right: 25px;    
}

.kerdesek{
  color: white;
  background-color: black;
  border: black;
  width: 500px;
  margin-left: 400px;
  font-size: 20px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--principal-font: 'Kumbh Sans', sans-serif;
--font-size: 12px;

--bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

--primary-dark-color: hsl(238, 29%, 16%);
--primary-soft-color: hsl(0, 0%, 100%);

--neutral-dark-color: hsl(0, 0%, 62%);
--neutral-soft-color: hsl(0, 0%, 100%);

}
html {
box-sizing: border-box;
}
* {box-sizing: inherit;}

.attribution { 
font-size: 11px; text-align: center; 
background-color: hsl(240, 5%, 91%);
padding: 8px 0 5px;
position: fixed;
bottom: 0;
left: 0;
right: 0;
width: 100%;
}
.attribution a { color: hsl(228, 45%, 44%); }

#p {
margin-bottom: 8px;
border-radius: 3px;
line-height: 1.5;
background-color: white;
color: black;
padding-left: 10px;
}

h2 {
margin: 12px 0;
}
.content-cc{
margin-top: 80px;
margin-left: 100px;
margin-right: 100px;
justify-content: center;
align-items: center;
}
.faq-card {
border-radius: 20px;

max-width: 1650px;

}
.faq-ilustrations{
position: relative;
}

.faq-ilustrations .mobile.ilust{
position: absolute;
top:-110px;
left:-30px;
right: 0;
}

.mobile{
display: block;
margin: 0 auto;
}

.faq-content {
padding: 9px 25px 0; 
}

.faq-content h1 {
font-size: 32px;
text-align: center;
color: var(--primary-dark-color);
}

.faq-accordion {
padding: 3px 0;
}

input.tgg-title {
appearance: unset;
all:unset;
}

.faq-accordion-title label{
display: flex;
align-items: center;
cursor: pointer;
}

.faq-accordion-title h2{
font-size: 16px;
font-weight: 400;
color: var(--neutral-dark-color);
}

.faq-accordion-title span{
margin-left: 100px;
transition: transform .4s ease-in-out;
}
.faq-accordion-content {
color: var(--neutral-soft-color);
overflow: hidden;
max-height: 0;
transition: max-height .4s ease-in-out;
}
.faq-accordion-title:hover h2{
color: var(--primary-soft-color)
}

.faq-accordion .tgg-title:checked + div>label>h2 {
font-weight: 700;
}
.faq-accordion .tgg-title:checked + div>label>span {
will-change: transform;
transform: rotate(180deg);
}
.faq-accordion .tgg-title:checked ~ .faq-accordion-content{
will-change: max-height;
max-height: 80px;
}
#keret{
  background-color: black;
  border: 5px solid #FFD700;
  border-radius: 30px;
  margin-right: 800px;
  padding-left: 40px;
}
#szoveg{
  color: white;
}
#arrow{
  width: 12px;
  height: 12px;
}
#arrow1{
  margin-left: 405px;
}
#arrow2{
  margin-left: 373px;
}
#arrow3{
  margin-left: 369px;
}
#arrow4{
  margin-left: 495px;
}
#arrow5{
  margin-left: 147px;
}
#foot{
  margin-top: 100px;
  text-align: center;
}
#footernev{
  background-image: linear-gradient(to top,#F8892F, #F8C354);
  color: transparent;
  background-clip: text;
  display: inline-block;
  font-size: 50px;
  margin-right: 40px;

}
#insta{
  color: white;
  display: inline-block;
  font-size: 50px;
  border-right: 1px solid #FFD700 ;
  padding-right: 10px;
}
#twitter{
  color: white;
  display: inline-block;
  font-size: 50px;
  border-right: 1px solid #FFD700 ;
  padding-right: 10px;
}
#facebook{
  color: white;
  display: inline-block;
  font-size: 50px;
}
#jog{
  color: #AEAEAE;
  background-color: black;
}
@media only screen and (max-width: 1669px) {
  #alekoszvd{
    width: 450px;
    height: 800px;
  }
  #madelynvd{
    width: 450px;
    height: 800px;
  }
  #slidediv{
    width: 500px;
  }
  #keret{
    border-radius: 30px;
    margin-right: 600px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1603px) {
  #alekoszvd{
    width: 400px;
    height: 700px;
  }
  #madelynvd{
    width: 400px;
    height: 700px;
  }
  #slidediv{
    width: 450px;
  }
  #keret{
    border-radius: 30px;
    margin-right: 530px;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 1550px) {
  #keret{
    border-radius: 30px;
    margin-right: 480px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1500px) {
  #keret{
    border-radius: 30px;
    margin-right: 430px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1453px) {
  #alekoszvd{
    width: 350px;
    height: 600px;
  }
  #madelynvd{
    width: 350px;
    height: 600px;
  }
  #slidediv{
    width: 400px;
  }
  #keret{
    border-radius: 30px;
    margin-right: 380px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1405px) {
  #keret{
    border-radius: 30px;
    margin-right: 330px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1350px) {
  #keret{
    border-radius: 30px;
    margin-right: 280px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1303px) {
  #alekoszvd{
    width: 300px;
    height: 600px;
  }
  #madelynvd{
    width: 300px;
    height: 600px;
  }
  #slidediv{
    width: 400px;
  }
  #keret{
    border-radius: 30px;
    margin-right: 230px;
    padding-left: 40px;
  }
  #madelyndiv{
    padding-right: 40px;
    padding-left: 40px;
  }
  #alekoszdiv{
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1260px) {
  #keret{
    border-radius: 30px;
    margin-right: 200px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1225px) {
  #keret{
    border-radius: 30px;
    margin-right: 160px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1205px) {
  #alekoszvd{
    width: 250px;
    height: 500px;
  }
  #madelynvd{
    width: 250px;
    height: 500px;
  }
  #slidediv{
    width: 350px;
  }
  #keret{
    border-radius: 30px;
    margin-right: 120px;
    padding-left: 40px;
  }
  #madelyndiv{
    padding-right: 40px;
    padding-left: 40px;
  }
  #alekoszdiv{
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1145px) {
  #keret{
    border-radius: 30px;
    margin-right: 70px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1090px) {
  #keret{
    border-radius: 30px;
    margin-right: 40px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 1060px) {
  #keret{
    border-radius: 30px;
    margin-right: 0px;
    padding-left: 40px;
  }
  #hero-mobile-wrap {
    display: flex;
    flex-direction: column;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  #alekoszdiv { order: 2; }
  #slidediv  { order: 1; }
  #madelyndiv{ order: 3; }
}
