
body{
    background-image: url(/Képek/hatterJPG.jpg);
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Graduate', serif;
    
    margin: 0px;
}

#cimDIV{
    padding-top: 80px;
}

#cim{
    color: #FFD700;
    text-align: center;
    font-size: 100px;
}

#gombDIV{
    text-align: center;
}

.gomb{
    background-color: black;
    width: 790px;
    height: 125px;
    border: 5px solid #FFD700;
    border-radius: 90px;
    color: white;
    font-size: 50px;
    
}

#gomb1{
    padding-bottom: 10px;
}

.lablecDIV{
    color: #AEAEAE;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
}



.lablecDIV div{
    text-align: center;
    
}

#vonal{
    opacity: 30%;
}
