body{
    background-color: #000000;

    font-family: 'Graduate', serif;
    font-weight: lighter;
    
    margin: 0px;
    margin-bottom: 0px;
}

#cim{
    color: #FFD700;
    font-size: 100px;
    text-align: center;
    margin-bottom: 10px;
}

#keret{
    background-image: url(/Képek/hatterJPG.jpg);
    background-repeat: no-repeat;
    
    background-position: center;

    border: 16px solid #FFD700;
    border-radius: 30px;
    padding-bottom: 40px;
    padding-top: 50px;

    width: 95%;
    
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: auto auto;
    padding-left: 5px;
    padding-right: 5px;
}

#pKezd{
    color: #FFFFFF;
    font-size: 28px;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#kep{
    border: 10px solid #FFD700;
    border-radius: 30px;
    width: 100%;
    height: 450px;
    float: right;
}

.inputok{
    background-color: #000000;
    color: #AEAEAE;
    font-size: 35px;
    text-align: center;
    border: 6px solid #FFD700;
    border-radius: 30px;
    width: 90%;
    height: 100px;
    float: left;
}

#email{
    margin-bottom: 15px;
}

#input1{
    margin-bottom: 15px;
}

#vanEfiok{
    padding-top: 10px;
    padding-left: 100px;
    color: #FFFFFF;
    font-size: 28px;
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#bejelAtiranyito{
    color: #FF0000;
    text-decoration: none;
}



footer{
    background-color: #000000;
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.lablecDIV{
    color: #AEAEAE;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto auto;
    
}

.lablecDIV div{
    text-align: center;
    
}

#vonal{
    opacity: 30%;
}

.p{
    text-align: center;
    margin: 0px;
    padding-top: 0px;
}

#CVTofficialS{
    margin-top: 5px;
}

#ARSmindenjogF{
    margin-top: 5px;
}

@media screen and (max-width: 1330px){
    .p{
        font-size: 25px;
    }
    #vanEfiok{
        padding-left: 60px;
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px){
    #kep{
        height: 420px;
    }

    #keret{
        width: 90%;
    }

    #vanEfiok{
        padding-left: 40px;
        font-size: 28px;
    }
}

@media screen and (max-width: 1035px){
    #cim{
        font-size: 90px;
        padding-top: 25px;
    }
    
    #pKezd{
        font-size: 24px;
    }

    .inputok{
        font-size: 30px;
        height: 95px;
    }

    #keret{
        width: 90%;
    }

    #vanEfiok{
        padding-left: 20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 895px){
    #cim{
        font-size: 80px;
        padding-top: 70px;
    }

    #pKezd{
        font-size: 20px;
    }

    #kep{
        height: 380px;
        width: 90%;
    }

    #keret{
        width: 90%;
    }

    #vanEfiok{
        padding-left: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 845px){
    #cim{
        font-size: 60px;
    }
}

@media screen and (max-width: 730px){
    #cim{
        font-size: 60px;
        padding-top: 80px;
    }

    #pKezd{
        font-size: 15px;
    }

    .inputok{
        font-size: 24px;
        height: 95px;
    }

    .p{
        font-size: 20px;
    }

    #vanEfiok{
        padding-left: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 625px){
    #cim{
        font-size: 50px;
        padding-top: 90px;
        padding-bottom: 50px;
    }
    
    #keret{
        width: 90%;
        
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    #kep{
        visibility: collapse;
        width: 0px;
        height: 0px;
    }

    .inputok{
        width: 94%;
        margin-left: 5px;
        float: none;
    }
}

@media screen and (max-width: 490px){
    #cim{
        font-size: 40px;
    }
}

@media screen and (max-width: 425px){
    #cim{
        font-size: 35px;
        padding-top: 130px;
        padding-bottom: 50px;
    }

    #keret{
        width: 88%;
        
        margin-left: auto;
        margin-right: auto;
    }

    .inputok{
        width: 93%;
        margin-left: 3px;
    }
}