body{
    background-color: black;
    font-family: 'Graduate', serif;
}
#h_logo{
    height: 100px;
    width: 130px;
    float: left;
    margin-right: 100px;
   
}
#header_{
    border-bottom: solid #FFD700 4px;
    font-family: 'Graduate', serif;
    display: inline-block;
    width: 1895px;
    position: relative;
}
#valassz{
    display: inline;
    margin: auto;
}
#Valasztek{
    display: inline;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    padding-top: 25px;
   
 
}
#ValasztekKapcsolat{
    display: inline;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    padding-top: 25px;
    color: #FFD700;
    margin-left: 270px;
}
#p{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-top: 200px;
}
.chatbox {
    width: 700px;
    margin: 30px auto;
    text-align: center;
    justify-content: center;
  }
  
  #chat {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .user, .bot {
    max-width: 80%;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .user {
    background: #ffd700;
    color: black;
    text-align: right;
  }
  
  .bot {
    border: 1px solid #ffd700;
    color: #ffd700;
    text-align: left;
  }
  
  #userInput {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #ffd700;
    background: black;
    color: white;
    font-size: 16px;
    outline: none;
  }
#jog{
    color: #AEAEAE;
    background-color: black;
}
.footer {
    border-top: 2px solid #ffd700;
    padding-top: 15px;
    margin-top: 470px;
    display: flex;
    justify-content: center;
    gap: 80px;
}